[defaults]
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
inventory = ./inventory

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
