#!/bin/bash
# Convert PhysicalNode {{ item.name }} to LiteNode

cmsh << 'EOF'
device
add litenode {{ item.name }}
use {{ item.name }}
set mac {{ item.mac }}
interfaces
add physical BOOTIF
use BOOTIF
set ip {{ item.ip }}
set network internalnet
..
..
commit
EOF
