---
# Register nodes in BCM using official modules

- name: Register RHEL cluster nodes
  brightcomputing.bcm110.physical_node:
    hostname: "{{ node.name }}"
    state: present
    mac: "{{ node.mac }}"
    category: "{{ node.category }}"
    partition: "base"
    provisioningInterface: "BOOTIF"
    interfaces_NetworkPhysicalInterface:
      - name: "BOOTIF"
        ip: "{{ node.ip }}"
        network: "internalnet"
  loop: "{{ cluster_nodes }}"
  loop_control:
    loop_var: node
    label: "{{ node.name }}"
